{% import "_includes/forms" as forms %}

{% namespace name %}
    <div id="{{ id }}" class="opening-hours-field">
        {% for period in periodData %}
            <div class="opening-hours-field-period mb-2">
                <div class="opening-hours-field-period-title flex flex-row gap-1 mb-2">
                    <span class="period-title">{{ 'period'|t("opening-hours") }}</span>
                    <span>{{ 'from'|t("opening-hours") }}:</span>
                    {{ forms.date({
                        name: "periodData[period"~loop.index~"][from]",
                        id: id ~ "-period-from",
                        value: period.from
                    }) }}
                    <span>{{ 'till'|t("opening-hours") }}:</span>
                    {{ forms.date({
                        name: "periodData[period"~loop.index~"][till]",
                        id: id ~ "-period-till",
                        value: period.till
                    }) }}
                </div>
                <div class="">
                    {{ forms.editableTable({
                        name:  "periodData[period"~loop.index~"][days]",
                        id: id ~ "-period-days",
                        cols: tableColumns,
                        rows: period.rows,
                        static: false,
                        staticRows: true
                    }) }}
                </div>
            </div>
        {% endfor %}

        <template id="placeholderPeriodData">
            <div class="opening-hours-field-period mb-2">
                <div class="opening-hours-field-period-title flex flex-row gap-1 mb-2">
                    <span class="period-title">{{ 'period'|t("opening-hours") }}</span>
                    <span>{{ 'from'|t("opening-hours") }}:</span>
                    {{ forms.date({
                        name: "periodData[period___NEWINDEX___][from]",
                        id: id ~ "-period-from",
                        value: null
                    }) }}
                    <span>{{ 'till'|t("opening-hours") }}:</span>
                    {{ forms.date({
                        name: "periodData[period___NEWINDEX___][till]",
                        id: id ~ "-period-till",
                        value: null
                    }) }}
                </div>
                <div class="">
                    {{ forms.editableTable({
                        name:  "periodData[period___NEWINDEX___][days]",
                        id: id ~ "-period-days",
                        cols: tableColumns,
                        rows: emptyRows,
                        static: false,
                        staticRows: true
                    }) }}
                </div>
            </div>
        </template>
    </div>
{% endnamespace %}